@charset 'utf8';

@mixin clearfix {
    zoom:1;

    &:after{
        display:block;
        clear:both;
        content:"";
        visibility:hidden;
        height:0;
    }
}


$rem: 75;

@function rem($px1, $px2: n, $px3: n, $px4: n) {

	$all: $px1 / $rem + rem;

	@each $value in $px2, $px3, $px4 {

		@if $value != n
		{
			$all: $all + ' ' + $value / $rem + rem;
		}
	}
    @return $all;
}
